<!DOCUTYPE html>
<html>
<head>
     <title>VENOM</title>
<!--=========LINKS=========-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- ========================-->
    
    
<!--=========FONTS LINK=========-->
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ceviche+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Marcellus+SC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rancho" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
</head>
    
  <body>
      
<!--NAVBAR SECTION-->
      
<nav class="navbar navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" style="color:#f20434;"><i class="fa fa-database" aria-hidden="true"></i><i class="fa fa-dashcube" aria-hidden="true"></i><span class="glyphicon glyphicon-bold"></span></a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#" style="color:#f20434;"><span class="glyphicon glyphicon-user" ></span> Sign Up</a></li>
            <li><a href="#" style="color:#f20434;"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</nav>
  
  