<% include partials/header %>

<div class="container">
    <div class="jumbotron">
        <h1 style="font-size   : 50px;
	               font-family :'Shrikhand', cursive; 
	               text-align  : center;
	               color       : #f20434">STUDENT RECORDS</h1>
        <hr style="border-top-color: black; border-top: 3px solid ">
        <blockquote style="text-align:center; font-family: 'Rancho', cursive;">
            <p style="font-size: 28px; ">All birds find shelter during a rain. But Eagle avoids rain by flying above the Clouds. Problems are common,<br> but attitude makes the difference!!</p>
            <footer><a href="https://en.wikipedia.org/wiki/A._P._J._Abdul_Kalam" style="color: #f20434; font-size: 25px; text-decoration: underline; ">Dr.A.P.J.Abdul Kalam</a>
            </footer>
        </blockquote>
    </div>
    <span class="pull-right">
    <a href="/index"><button id="ba" class="btn btn-lg" style="font-family: 'Marcellus SC', serif; color: #f20434; border-color: #f20434">Continue<span class="glyphicon glyphicon-menu-right"></span></button></a>
    </span>
    <hr style="border-top-color: black; border-top: 3px solid ">
</div>
<style>
    #ba:hover {
        background-color: #b26776;
        color: white;
    }
</style>
    



<% include partials/footer %>
