<% include partials/header %>


<p>
   <h4> Name          : <%= database.name %></h4>
        Age           : <%= database.age %><br>
        Date of Birth : <%= database.dob %><br>
        Degree        : <%= database.degree %><br>
</p>
<% include partials/footer %>